body {
  height: 100vh;
  width: 100vw;
  background-color: #eefbf4;
  margin: 0;
}

/* HEADER */

#header {
  padding: 20px;
  padding-left: 40px;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 100px  ;
}

image{
  height: 5px;
  width: 5px;
}

a{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #004c7b;
}

a:link{
  text-decoration: none;
  font-size: 1.2em;
}

/* END OF HEADER */

h1 {
  background-color: #004c7b;
  color: #fffbf0;
  padding: 10px 20px;
  font-size: 2em;
  border-radius: 8px;
  box-shadow: 10px 10px 20px lightblue;
}

ul {
  background-color: #fffbf0;
  padding-left: 0px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px lightblue;
  min-width: 250px;
}

li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 2.5px solid rgba(10, 20, 30, 0.058);
  color: #003e65;
}


.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submit {
  text-align: center;
  margin-bottom: 0px;
}

li:has(.submit) {
  margin: 0px;
  padding: 0px;
  padding-bottom: 7px;
  border-bottom: transparent;
}

input[type="text"] {
  border: transparent;
  background: transparent;
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0px 0px;
  border-bottom: 3px solid rgba(10, 20, 30, 0.058);
  transition: 0.5s;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
}

input[type="text"]:focus,
input[type="text"]:active {
  border-bottom: 3px solid #003e65;
}

input[type="submit"] {
  text-align: center;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: #003e65;
  color: #fffbf0;
  min-height: 30px;
  width: 30px;
  font-size: 20px;
}

/* styling the checkbox */

.form-control {
  font-family: system-ui, sans-serif;
  font-size: 2em;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  --form-control-color: #008096e3;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fffbf0;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.list {
  text-decoration: 5px line-through transparent;
  transition: text-decoration 1s ease, color 1s ease;
  text-align: start;
}

input[type="checkbox"]:checked + .list {
  color: rgba(128, 128, 128, 0.389);
  text-decoration: 5px line-through #005a69e3;
}
